*.swp
*.o
*.a
*.so
*.class
*.log
*.pdf
42sh
.vscode/*
bin*
build*
42sh_manual_doxygen
*.out
*.dot
toto
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
